:root {
    --color-rojo: #e72929;
}
/**CLEARFIX**/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
* {
    font-weight: 400;
}
body {
    font-family: 'Montserrat', sans-serif;
    
}
img {
    width: 100%;
}
h1 {
    font-size: 4.3rem;
}
h2 {
    font-size: 2.4rem;   
}
h3{
    font-size: 2.2rem;
}
p {
    font-size: 1.6rem;
}
@media (max-width: 480px) {
    h1{
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.sin-estilo {
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
}
/**HEADER**/
.background-logo img {
    width: 16rem;
}
.background-logo { 
    background-color: rgb(226, 219, 219);
}
.navegacion a{
    display: block;
    text-align: center;
    padding: 2rem;
    transition: all .3s ease-in-out;
}
.navegacion a:hover {
    color: var(--color-rojo);
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem;
    }
    .background-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}
.encabezado {
    line-height: 0;
}
  
/**MAIN**/
.contenido {
    background-color: #f0f0f0;
    padding: 1rem;
}
.contenido-principal {
    text-align: center;
}
.contenido-principal h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.contenido-principal span {
    font-weight: 700;
}
.conocenos h2{
    text-align: center;
    line-height: 8rem;
}
.descripcion p {
    line-height: 2.7rem;
}
.mas-sobre a {
    font-weight: 500;
    padding: 1rem;
    transition: all .5s ease-in-out;
}
.mas-sobre a:hover {
    color: var(--color-rojo);
}
@media (min-width: 720px) {
    .descripcion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .descripcion p {
        margin-left: 2rem;
        text-align: justify;
    }

    .mas-sobre {
        text-align: end;
    }
}
.conocenos {
    margin-bottom: 2rem;
}
/**LISTA DE SERVICIOS**/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
.fondo-servicios {
    padding-bottom: 2rem;
}
@media (min-width: 768px) {
    .fondo-servicios {
        background-image: url(../img/Fondo-servicios.jpg);
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
    }
    
}
.contenedor h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.4rem;
}
.servico-li {
    margin: 1rem auto 0 auto;
    width: 90%;
}

@media (min-width: 768px) {
    .lista-servicios  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: .2rem;
    }
}
.albañil {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.fontanero {
    grid-column: 2 / 3;
    grid-row: 2/ 3;
}
.pintor {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.servicio {
    position: relative;
    overflow: hidden;
    
}
.servicio img {
    
    filter: grayscale(1);
    transition: all .5s ease-in-out;
}
.servicio img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

.servicio p{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem 1rem;
    margin: 0;
    background-color: rgba(0, 0, 0, .55);
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: var(--color-rojo);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all .5s ease-in-out;
    text-align: center;
}
.servicio:hover p{
    bottom: -8rem;
    opacity: 0;
}
/**CONTACTANOS**/
.contactanos {
    text-align: center;
    padding-bottom: 2rem;
}
.contactanos a {
    font-weight: 500;
    border: 2px solid var(--color-rojo);
    padding: 1rem;
    transition: all .3s ease-in-out;
}
.contactanos a:hover {
    background-color: var(--color-rojo);
    color: white;
}

.footer {
    background-color: #f0f0f0;;
    padding: 1rem;
    
}

@media (min-width: 768px) {
    .pie-pagina {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pie-pagina nav a {
        padding: 0;
    }
}
.copyright {
    text-align: center;
}
.pie-pagina nav a {
    padding: .8rem;
}

/**SOBRE NOSOTROS**/   
.contenido-sobrenosotros  {
 display: flex;
 flex-direction: column-reverse;
 
}
.sobre-nosotros-texto {
    text-align: justify;
    margin-left: 2rem;
}
@media (min-width: 768px) {
    .contenido-sobrenosotros {
    flex-direction: row-reverse;
    }
    .sobre-nosotros-texto {
        margin: 2rem ;
    }
}



/**SERVICIO ALBAÑILERIA**/
@media (min-width: 768px) {
    .lista-imagenes {
    margin: 1rem;
    max-width: 100%;
    }
.imagenes-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    }
}

/**CONTACTO**/
.enfrentados {
    display: flex;
    justify-content: space-between;
    font-size: calc(1em + 1vw)
}
.abajo h2{
    font-size: calc(1em + 1vw)
}